# Sensitive files
streamlit-bq-access.json
*.json # より一般的にJSONキーファイルを除外する場合

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
# Streamlit secrets file for local development
.streamlit/secrets.toml
# Or, if you might place secrets.toml directly in the root (less common for Streamlit)
# secrets.toml